.drop-list {
    display: relative;
    background-color: var(--white)
}

.drop-list .open-btn {
    display: flex;
    border: 2px solid var(--grey);
    border-radius: 5px;
    cursor: pointer;
}

.drop-list .open-btn input {
    border-style: hidden;
    border-radius: 5px 0px 0px 5px;
    pointer-events: none;
    font-size: 15px;
    padding: 7px 0px 7px 10px;
    border-right: 2px solid var(--grey);
    width: 100%;
    outline: none;
}

.drop-list .open-btn .arrow {
    background-color: var(--white);
    background: transparent;
    color: var(--darkGrey);
    width: 37px;
    height: 37px;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    transition: .3s;
    pointer-events: none;
}

.drop-list .open-btn .arrow.up {
    transform: rotate(180deg);
}

.drop-list .delete {
    background-color: var(--white);
    background: transparent;
    color: var(--darkGrey);
    width: 37px;
    height: 37px;
    padding: 10px;
    border-right: 2px solid var(--grey);
}

.delete path {
    pointer-events: none;
}

.drop-list ul {
    border: 2px solid var(--blue);
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    position: absolute;
    z-index: 5;
}

.drop-list ul li {
    background-color: var(--white);
    font-size: 16px;
    font-weight: 400;
    transition: .3s;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}


.drop-list ul li:first-child {
    border-radius: 2px 2px 0px 0px;
}

.drop-list ul li:last-child {
    border-radius: 0px 0px 2px 2px;
}

.drop-list ul li:hover {
    background-color: var(--grey);
}

.drop-list ul li.selected {
    background-color: var(--grey);
}

.drop-list input {
    width: 100%;
}