.text-input {
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-size: 16px;
    padding: 7px 0px 7px 10px;
    height: 42px;
    width: 100%;
}

.text-input.failed {
    color: red;
}

.text-input:focus {
    outline: 3px solid rgba(50, 165, 200, 0.5);
    border: 1px solid var(--blue);
}

.text-input:hover {
    border: 1px solid var(--blue);
}

.text.input-container {
    position: relative;
}

.text.input-container label {
    position: absolute;
    top: -3px;
    left: 10px;
    height: 4px;
    line-height: 0;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    padding: 0 3px;
    font-size: 15px;
    color: var(--mediumGrey);
}

.text.input-container label.required::after {
    content: "*";
    color: var(--red);
    font-size: 18px;
}